body {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    background-image: url("../bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: bottom left;
    position: relative;
    padding: 0;
    margin: 0;
    padding-top: 6rem;
}

body:after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-title {
    font-size: 10rem;
    color: aqua;
    text-align: center;
}

#top-score {
    font-size: 5em;
    color: #a87d32;
}

button {
    background-color: #a87d32;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    margin: 5px;
}

.hidden {
    position: absolute;
    top: 0px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
}

#music-controls {
    color: #fff;
    position: absolute;
    top: 30px;
    right: 4%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#music-controls svg {
    scale: 1.5;
    margin-top: 2px;
    margin: 0 5px;
}

#game-area {
    max-width: 90%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
}

canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid #fff;
    max-width: 100%;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow:hidden;
}

canvas:hover {
    cursor: url('../images/sprites/cursor.png'), auto;
}