body {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    background-image: url("../bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: bottom left;
    position: relative;
    padding: 0;
    margin: 0;
    padding-top: 6rem;
}

body:after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}


#flash-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    z-index: 1000; /* Ensure it sits on top of the canvas */
}

.menu-container, .instructions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
    position: relative;
}

#main-title {
    font-size: 10rem;
    color: aqua;
    text-align: center;
    margin: 0;
}

#top-score {
    font-size: 2.5em;
    color: #a87d32;
}

.main-heading {
    font-size: 8rem; /* Updated size for Leaderboard */
    color: aqua;
    text-align: center;
}

#display-score, 
#display-misses {
    color: #fff;
}

button {
    background-color: #a87d32;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    margin: 5px;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

.hidden {
    position: absolute;
    top: 0px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
}

#music-controls {
    color: #fff;
    position: absolute;
    top: 30px;
    right: 4%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#music-controls svg {
    transform: scale(1.5);
    margin-top: 2px;
    margin: 0 5px;
}

#game-area {
    max-width: 90%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
}

canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid #fff;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

canvas:hover {
    cursor: url('../images/sprites/cursor.png'), auto;
}

/* Style the unordered list (ul) */
ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    border-radius: 10px; 
    width: 70%; /* Slightly smaller width */
    max-width: 500px; /* Slightly smaller max-width */
    margin: 1rem auto;
    width: fit-content;
}

/* Style individual list items (li) */
ul li {
    padding: 0.8rem; /* Slightly smaller padding */
    color: #a87d32; 
    font-size: 1.5em; /* Slightly smaller font-size */
    justify-content: center; /* Space between username and score */
}

ul li:last-child {
    border-bottom: none;
}

h3, h4, p {
    color: #a87d32;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
    body {
        padding-top: 3rem;
    }

    #main-title {
        font-size: 5rem;
        padding: 0 1rem;
    }

    .main-heading {
        font-size: 3rem; /* Adjust font size for Leaderboard on smaller screens */
    }

    ul {
        width: 90%; /* Full width for smaller screens */
        max-width: 100%; /* Remove max-width for smaller screens */
    }

    ul li {
        padding: 0.6rem; /* Smaller padding for list items */
        font-size: 0.9em; /* Smaller font size for list items */
    }

    #top-score {
        font-size: 2.5em;
        color: #a87d32;
    }

    button {
        font-size: 1.5em;
        padding: 0.5rem;
    }

    #music-controls {
        top: 15px;
        right: 2%;
        svg {
            transform: scale(1.2);
        }
    }

    #game-area {
        padding: 1rem;
        max-width: 100%;
        margin-top: 15vh;
    }

    canvas {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    #main-title {
        font-size: 3.5rem;
    }

    .main-heading {
        font-size: 2.5rem; /* Further adjust font size for Leaderboard on smaller screens */
    }

    ul li {
        padding: 0.5rem; /* Further smaller padding for list items */
        font-size: 0.8em; /* Further smaller font size for list items */
    }

    #top-score {
        font-size: 2em;
        color: #a87d32;
    }

    button {
        font-size: 1.2em;
        padding: 0.4rem;
    }

    #music-controls {
        top: 10px;
        right: 2%;
        svg {
            transform: scale(1);
        }
    }
}

#instructions-toggle {
    position: absolute;
    top: 10px;
    left: 4%;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
}

#instructions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border: 2px solid #000;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}